@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative; 
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  color: #fff;
  text-align: center;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px; 
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.back-arrow i { 
  color: inherit; 
}

.back-arrow:hover {
  color: #f1f1f1; 
}

h1, h2 {
  color: #fff;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

input::placeholder {
    color: #fff; 
  }

input:focus {
  border-color: #fff;
  outline: none;
}

button {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 40px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

button:hover {
  background: #f1f1f1;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user span {
  color: #fff;
  font-size: 16px;
}

.user button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 10px;
  margin-left: 10px;
}

.user .edit-button {
  background: #3498db;
  color: #fff;
}

.user .edit-button:hover {
  background: #2980b9; 
}

.user .delete-button {
  background: #e74c3c; 
  color: #fff;
}

.user .delete-button:hover {
  background: #c0392b; 
}
